// $body-bg: #0f0f0f;
$primary: #169b88;
$dark-primary: #111727;
$bg-primary-light: rgba(180, 180, 180, 0.1);
$secondary: #c69646;
$bla: #bd8a36;
$bg: #f5f7fb;

$bg-dark-hover: rgba(22, 155, 136, 0.1);
$bg-dark: #202938;

$box-shadow: 0 0 20px rgb(25 124 207 / 8%);
$bg-hover: rgba(22, 155, 136, 0.1);

// $border-radius: 30px;
// $mobile-width: 600px;
// $tablet-width: 1024px;

$font-family: "Changa", sans-serif;
